/* VARIABLES */
// colors
$threedocean: #b3193d;
$audiojungle: #82b332;
$codecanyon: #e78632;
$graphicriver: #308eb0;
$photodune: #0f8e99;
$themeforest: #1fbda5;
$videohive: #f1a31e;
$codegrape: #86BF40;

// pixels
$color-purple: #6a3c94;
$color-blue: #2982c0;
$color-teal: #28aba0;
$color-green: #90c85b;
$color-yellow: #f3bc55;
$color-orange: #ec684d;
$color-red: #e7346d;
$color-pink: #c5348f;

// greys
$white: #ffffff;
$grey-light: #f0eff1;
$grey-medium: darken($grey-light, 4%);
$grey-dark: darken($grey-light, 20%);
$black: #2b2b2b;

// body
$body-bg: $grey-light;

// grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1342px,
);

// gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// buttons
$btn-border-radius:           19px;
$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out;

/* IMPORT */
// bootstrap: required
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// bootstrap: optional
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/button-group';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/badge';

// bootstrap: mixins
@import '../../node_modules/bootstrap/scss/mixins/border-radius';

// bootstrap: utilities
@import '../../node_modules/bootstrap/scss/utilities/text';

// font
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

/* CUSTOM */
// fluid container
.container-fluid { padding-left: 16px; padding-right: 16px; }

// typography
body { font-family: 'Roboto', sans-serif; }
h6, .h6 { font-size: 0.8rem; margin-bottom: 0; }
.byline { color: $grey-dark; font-size: 0.7rem; }


// button
.btn { box-shadow: 0 0 5px 20px rgba(0, 0, 0, 0.01) !important;
  &-dark { border-color: transparent !important; //background: $white !important; color: $black !important;
    &:hover { background: $white !important; color: $dark !important; border-color: transparent !important; }
  }
}


// navbar
.navbar { position: fixed; top: 0; left: 0; width: 100%; z-index: 10; padding: 22px 1rem;
  box-shadow: 0 0 5px 20px rgba(0, 0, 0, 0.01);
  &-light { background: $white; }
  &-brand { padding: 0;
    img { width: auto; height: 20px; display: block; }
  }
}

// mixins
@mixin pixel($nth, $color-1, $color-2, $thirds: 0) {
  &:nth-child(#{$nth}) .pixel {
    @for $i from 0 to 10 {
      @if $color-1 == $color-2 {
        &:nth-child(#{$i + 1}) {
          background: darken(adjust-hue($color-1, random(10deg)), random(4%));
        }
      } @else {
        &:nth-child(#{$i + 1}) {
          @if $thirds == 1 {
            background: darken(adjust-hue(mix($color-1, $color-2, 33.3%), random(10deg)), random(4%));
          } @else {
            background: darken(adjust-hue(mix($color-1, $color-2, 66.6%), random(10deg)), random(4%));
          }
        }
      }
    }
  }
}
@mixin pixelGrid($color) {
  @for $i from 0 to 22 {
    @include pixel(#{$i + 1}, $color, $color);
  }
}

// animations
@keyframes blinker {
  0% { transform: scale(2); }
  50% { transform: scale(1); }
  100% { transform: scale(2); }
}
@keyframes audioFlicker {
  0% { background: $audiojungle; }
  10% { background: darken(adjust-hue($audiojungle, random(10deg)), random(4%)); }
  20% { background: darken(adjust-hue($audiojungle, random(10deg)), random(4%)); }
  30% { background: darken(adjust-hue($audiojungle, random(10deg)), random(4%)); }
  40% { background: darken(adjust-hue($audiojungle, random(10deg)), random(4%)); }
  50% { background: darken(adjust-hue($audiojungle, random(10deg)), random(4%)); }
  60% { background: darken(adjust-hue($audiojungle, random(10deg)), random(4%)); }
  70% { background: darken(adjust-hue($audiojungle, random(10deg)), random(4%)); }
  80% { background: darken(adjust-hue($audiojungle, random(10deg)), random(4%)); }
  90% { background: darken(adjust-hue($audiojungle, random(10deg)), random(4%)); }
  100% { background: $audiojungle; }
}

// products canvas
.loadr-products-canvas { position: relative;
  & > .row { position: relative; z-index: 1; }
}

// loader
.loadr-loader { width: 104px; height: 10px; position: fixed; left: 50vw; top: 50vh; z-index: 0; transform: translate(-50%, -50%); display: flex; flex-wrap: wrap;
  &--cube { background: $black; display: block; position: absolute; width: 5px; height: 5px; top: 0; transform: scale(2);
    &:nth-child(1) { background: $color-purple; animation: blinker .7s infinite 0s; left: 0; }
    &:nth-child(2) { background: $color-blue; animation: blinker .7s infinite .1s; left: 14px; }
    &:nth-child(3) { background: $color-teal; animation: blinker .7s infinite .2s; left: 28px; }
    &:nth-child(4) { background: $color-green; animation: blinker .7s infinite .3s; left: 42px; }
    &:nth-child(5) { background: $color-yellow; animation: blinker .7s infinite .4s; left: 56px; }
    &:nth-child(6) { background: $color-orange; animation: blinker .7s infinite .5s; left: 70px; }
    &:nth-child(7) { background: $color-red; animation: blinker .7s infinite .6s; left: 84px; }
    &:nth-child(8) { background: $color-pink; animation: blinker .7s infinite .7s; left: 98px; }
  }
}

// banner
.loadr-banner { position: relative; padding-top: 64px;

  // tiles
  .tiles { margin: 0; padding: 0; list-style: none; display: flex;
    li { width: 100px; height: auto; display: flex; flex-direction: column; position: relative;

      // pixel
      .pixel { padding: 50% 0; box-sizing: border-box;
        @include media-breakpoint-up(sm) {
          &:nth-child(n+7) { display: none; }
        }
        @include media-breakpoint-up(md) {
          &:nth-child(n+6) { display: none; }
        }
        @include media-breakpoint-up(lg) {
          &:nth-child(n+5) { display: none; }
        }
        @include media-breakpoint-up(xxl) {
          &:nth-child(n+4) { display: none; }
        }
      }

      // all
      @include pixel(1, $color-purple, $color-purple);
      @include pixel(2, $color-blue, $color-purple, 1);
      @include pixel(3, $color-blue, $color-purple, 2);
      @include pixel(4, $color-blue, $color-blue);
      @include pixel(5, $color-teal, $color-blue, 1);
      @include pixel(6, $color-teal, $color-blue, 2);
      @include pixel(7, $color-teal, $color-teal);
      @include pixel(8, $color-green, $color-teal, 1);
      @include pixel(9, $color-green, $color-teal, 2);
      @include pixel(10, $color-green, $color-green);
      @include pixel(11, $color-yellow, $color-green, 1);
      @include pixel(12, $color-yellow, $color-green, 2);
      @include pixel(13, $color-yellow, $color-yellow);
      @include pixel(14, $color-orange, $color-yellow, 1);
      @include pixel(15, $color-orange, $color-yellow, 2);
      @include pixel(16, $color-orange, $color-orange);
      @include pixel(17, $color-red, $color-orange, 1);
      @include pixel(18, $color-red, $color-orange, 2);
      @include pixel(19, $color-red, $color-red);
      @include pixel(20, $color-pink, $color-red, 1);
      @include pixel(21, $color-pink, $color-red, 2);
      @include pixel(22, $color-pink, $color-pink);

    }

    // specific
    &--themes li { @include pixelGrid($themeforest); }
    &--code li { @include pixelGrid($codecanyon); }
    &--graphics li { @include pixelGrid($graphicriver); }
    &--photos li { @include pixelGrid($photodune); }
    &--videos li { @include pixelGrid($videohive); }
    &--3d li { @include pixelGrid($threedocean); }
    &--audio li { @include pixelGrid($audiojungle); }
    &--courses li { @include pixelGrid($color-purple); }

  }

  // text
  &--text { position: absolute; top: 0; left: 0; display: flex; justify-content: center; align-items: center; height: 100%; padding-top: 34px;
    .breadcrumbs { color: $white;
      a.breadcrumb { color: $white;
        &:after { content: ' / '; }
      }
    }
    h1 { font-weight: 100; color: $white; text-transform: uppercase; text-align: center; font-size: 1.6rem; margin-bottom: 0; margin-top: 0;
      span { font-weight: 500; border-bottom: 1px solid $white; }
      @include media-breakpoint-up(sm) { font-size: 2rem; }
      @include media-breakpoint-up(md) { font-size: 2.5rem; }
      @include media-breakpoint-up(lg) { font-size: 3rem; }
    }
  }

}

// nav (pills)
.loadr-products-nav { position: relative; z-index: 2; }
.nav-pills { width: 100%; background: $black; position: relative; padding: 0 35px; top: -35px; left: 50%; transform: translateX(-50%); margin-bottom: -35px;
  @include border-radius(35px); transition: all 0.2s ease-in-out;
  .nav-item { height: 70px; padding: 17px 0; transition: all 0.2s ease-in-out; }
  .nav-link { padding: 0 1rem; margin-right: .5rem; line-height: 36px; color: $white; font-size: 1rem; text-transform: capitalize;
    @include border-radius(18px); transition: all 0.2s ease-in-out;
    &--all.active, &--all:hover { background-color: $white; color: $black; }
    &--themes.active, &--themes:hover { background-color: $themeforest; }
    &--code.active, &--code:hover { background-color: $codecanyon; }
    &--graphics.active, &--graphics:hover { background-color: $graphicriver; }
    &--photos.active, &--photos:hover { background-color: $photodune; }
    &--videos.active, &--videos:hover { background-color: $videohive; }
    &--3d.active, &--3d:hover { background-color: $threedocean; }
    &--audio.active, &--audio:hover { background-color: $audiojungle; }
    &--courses.active, &--courses:hover { background-color: $color-purple; }
  }

  &__stick { @include border-radius(0); width: calc(100% + (#{$gutter}) * 2); padding: 0 20px;
    .nav-item { height: 50px; padding: 10px 0;
      .nav-link { padding: 0 .75rem; margin-right: .5rem; line-height: 30px; font-size: .9rem; @include border-radius(15px); }
    }
  }
}

// cover
.loadr-cover { background: $white; width: 100%; margin: 0; position: relative; box-shadow: 0 0 5px 20px rgba(0, 0, 0, 0.01); padding: .6rem; overflow: hidden;
  @include border-radius(4px);

  // badge
  // .badge { color: $white; }

  // thumbnail
  &--image { position: relative;
    img { width: 100%; }
    &--icon { position: absolute; bottom: 0; right: 0.2rem; width: 26px; height: 26px; color: $white; text-align: center; font-size: 0.7rem; padding-top: 0.4rem;
      transition: height .4s ease-in-out;
      @include border-radius(13px 13px 0 0);
    }
  }

  // information
  &--info { background: $white; padding: .4rem .6rem; position: absolute; bottom: -44px; left: 0; width: 100%; box-sizing: border-box; height: 44px;
    transition: bottom .2s ease-in-out;
    h6 { width: calc(100% - 40px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    span.byline { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: calc(100% - 40px); }
    span.price { display: block; position: absolute; right: .6rem; bottom: .5rem; font-weight: 500; font-size: 1.2rem; }
    .badge { margin-right: 0.25rem; }
    .tag-cloud { text-align: center;
      sub { padding: 0 0.25rem; white-space: nowrap; display: inline-block; }
    } 
  }

  // hover
  &:hover {
    // image
    .loadr-cover--image {
      &--icon { height: calc((44px + 26px) - 0.6rem); }
    }
    // information
    .loadr-cover--info { bottom: 0; }
  }

  // type modifier
  &__3d {
    .loadr-cover--image {
      &--icon { background-color: $threedocean; }
    }
  }
  &__audio { padding-bottom: 0;
    .loadr-cover--image {
      &--author { position: absolute; width: 28px; height: 28px; bottom: .2rem; left: .2rem; background: $white; padding: 2px;
        img { width: 100%; height: auto; display: block; }
      }
      &--icon { background-color: $audiojungle; }
    }
    .loadr-cover--info { position: relative; bottom: 0; padding: .4rem 0 0 0;
      span.price { right: 0; }
    }
    &:hover {
      .loadr-cover--image--icon { height: 26px; }
    }
  }
  &__code {
    .loadr-cover--image {
      &--icon { background-color: $codecanyon; }
    }
  }
  &__graphics {
    .loadr-cover--image {
      &--icon { background-color: $graphicriver; }
    }
  }
  &__photos {
    .loadr-cover--image {
      &--icon { background-color: $photodune; }
    }
  }
  &__themes {
    .loadr-cover--image {
      &--icon { background-color: $themeforest; }
    }
  }
  &__videos {
    .loadr-cover--image {
      &--icon { background-color: $videohive; }
    }
  }
  &__courses {
    .loadr-cover--image {
      &--icon { background-color: $color-purple; }
    }
  }

}

// bricks
.bricks-grid { margin: 0 auto;
  &--item { width: 280px;

    // small
    &__small { width: 240px;
      @media all and (min-width: 320px) { width: 140px; }
      @media all and (min-width: 480px) { width: 130px; }
      @media all and (min-width: 640px) { width: 130px; }
      @media all and (min-width: 800px) { width: 130px; }
      @media all and (min-width: 960px) { width: 130px; }
      @media all and (min-width: 1120px) { width: 130px; }
      @media all and (min-width: 1280px) { width: 130px; }
      @media all and (min-width: 1440px) { width: 130px; }
      @media all and (min-width: 1600px) { width: 130px; }
      @media all and (min-width: 1760px) { width: 130px; }
      @media all and (min-width: 1920px) { width: 130px; }
      @media all and (min-width: 2080px) { width: 130px; }
      @media all and (min-width: 2240px) { width: 130px; }
    }

    // large
    &__large { width: 240px;
      @media all and (min-width: 320px) { width: 290px; }
      @media all and (min-width: 480px) { width: 450px; }
      @media all and (min-width: 640px) { width: 290px; }
      @media all and (min-width: 800px) { width: 370px; }
      @media all and (min-width: 960px) { width: 290px; }
      @media all and (min-width: 1120px) { width: 343px; }
      @media all and (min-width: 1280px) { width: 396px; }
      @media all and (min-width: 1440px) { width: 330px; }
      @media all and (min-width: 1600px) { width: 370px; }
      @media all and (min-width: 1760px) { width: 322px; }
      @media all and (min-width: 1920px) { width: 354px; }
      @media all and (min-width: 2080px) { width: 386px; }
      @media all and (min-width: 2240px) { width: 418px; }
    }

  }
}

// pager
.loadr-pager { margin: 4rem 0; width: 100%; justify-content: center;
  .btn { flex: 0 0 auto; }
}

// player
.player { height: 100px; width: 100%; background: $audiojungle; cursor: pointer;
  button { color: $white; display: block; height: 100%; border: none; background: none; outline: none;
    .svg-inline--fa { font-size: 1.6rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); transition: all .1s ease-in-out; }
  }
  &.playing__true { animation: audioFlicker 1s infinite 0s;
    .play { display: none; }
  }
  &.playing__false {
    .pause { display: none; }
    &:hover {
      .svg-inline--fa { font-size: 2rem; }
    }
  }
}